<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->

{%- set section = get_section(path="_index.md") %}

{% set subsections_str = section.subsections | join(sep=" ") %}

<footer>
    {% if "footer/_index.md" in subsections_str %}
        {%- set section = get_section(path="footer/_index.md") %}
        {{ section.content | safe }}
    {% else %}
        <div class="{{config.extra.footer_class | default(value='')}}">
            <img src="{{get_url(path='images/footer_logo.png')}}" alt="">
            ALL RIGHTS RESERVED 2022
        </div>
    {% endif %}
</footer>